Body{
    background-color:bisque;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: Red;

}
nav a{
    text-decoration: none;
    Color: Black;
}
.OverallStruct{
    margin-right: 100px;
    margin-left: 100px;
}
.Product{
    background-color: green;
    border: black;
    border-style: solid;
    padding: 30px;
    display: flex;
    gap: 40px;
}

.TextProduct{
    display: flex;
    flex-direction: column;
}

.PlusMinOmschrijving{
    display: flex;
    justify-content: center;
    gap:20vw;

}
.PlusMin{
    background-color: teal;
    display: flex;
    flex-direction: column;
}

.Omschrijving{
    display: flex;
    flex-direction: column;
}
.GerelateerdeProd{
     display: flex;
     flex-direction: column;
     text-align: center;
}

.RelaProds{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.RelaProd{
    border: black;
    border-style: solid;
}

img{
    width: 200px;
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: aqua;
    text-align: center
}

footer a{
    text-decoration: none;
    color :white;
    padding: 20px;
}