Body{
    background-color:bisque;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: Red;

}
.OverallStruct{
    display: flex;
}
.Product{
    display: flex;
}